@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #1d2456 #d2d3dd;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f0f3ee;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: #f0f3ee;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}
nav::before {
  position: absolute;
  background: #1d2456;
  content: "";
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  transition: height 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: -1;
}
nav:hover {
  color: #f0f3ee;
}
nav:hover::before {
  height: 100%;
}
nav:hover .active {
  color: #f0f3ee;
}
nav:hover .active:before {
  background-color: #f0f3ee;
}
nav:hover svg {
  fill: #f0f3ee;
}
nav:hover button {
  background-color: #f8475d;
  color: #f0f3ee;
}
nav:hover .nav__left > a {
  color: #f0f3ee;
}
nav .nav__inner {
  display: flex;
  justify-content: space-between;
  padding-block: 2.25rem;
}
nav ul {
  list-style: none;
  gap: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 42px;
}
@media screen and (min-width: 1024px) {
  nav ul {
    width: auto;
    flex-direction: row;
    gap: 2.625rem;
    padding-left: 0;
  }
}
nav ul li a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  color: #aeaeae;
  position: relative;
}
nav ul li a::after {
  transform: scale(1.2);
  position: absolute;
  color: #d7d7d7;
  top: 0px;
  left: 0px;
  overflow: hidden;
  content: attr(data-link);
  opacity: 0;
  transition: all 0.3s;
}
nav ul li a:hover:after {
  transform: scale(1);
  opacity: 1;
}
nav ul li .active {
  color: #1d2456;
  position: relative;
  transition: color 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
nav ul li .active:before {
  content: "";
  position: absolute;
  border-radius: 5px;
  background-color: #1d2456;
  width: 12px;
  height: 5px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
nav button {
  filter: drop-shadow(0px 2px 2px rgba(255, 168, 0, 0.2));
  border-radius: 4px;
  color: #f8475d;
  background-color: #f0f3ee;
  border: 1px solid #f8475d;
  padding: 0.625rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.nav__left {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav__left .nav--hidden {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav__left .nav--hidden {
    display: flex;
  }
}
.nav__left svg {
  height: 30px;
  fill: #1d2456;
  cursor: pointer;
  transition: fill 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
@media screen and (min-width: 1024px) {
  .nav__left svg {
    display: none;
  }
}
.nav__left > a {
  display: flex;
  gap: 0.5rem;
  color: #1d2456;
  font-size: 1.75rem;
  transition: color 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  width: min(95%, 1300px);
  margin: auto;
}

.connect__menu {
  z-index: 9999;
  position: fixed;
  background: #f8475d;
  color: #f0f3ee;
  border-radius: 6px;
  min-width: 180px;
  opacity: 1;
  transition: opacity 1270ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__menu ul {
  padding-block: 0.25rem;
}
.connect__menu ul li {
  cursor: pointer;
  padding: 0.25rem 1rem;
  list-style: none;
  white-space: nowrap;
  user-select: none;
}
.connect__menu ul li:hover {
  background-color: #c6394a;
}

.connect__menu--hidden {
  opacity: 0;
}

.articles {
  margin-top: 200px;
  margin-bottom: 80px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.articles article {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f9f7;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .articles article {
    width: calc((100% - 2rem) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .articles article {
    width: calc((100% - 4rem) / 3);
  }
}
.articles article:hover img {
  opacity: 0.8;
  transform: scale(1.05);
}
.articles article .article__img {
  margin-bottom: 1.25rem;
  overflow: hidden;
  display: flex;
  position: relative;
  color: #f0f3ee;
}
.articles article .article__img .article__social {
  display: flex;
  color: #f0f3ee;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 0;
  gap: 1rem;
  background-color: rgba(248, 71, 93, 0.7490196078);
  border-radius: 4px 0 0 0;
}
.articles article .article__img .article__social .article__likes,
.articles article .article__img .article__social .article__comments {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
  cursor: pointer;
}
.articles article .article__img .article__social .article__liked {
  color: #1d2456;
}
.articles article .article__img img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: all 0.3s ease;
}
.articles article .article__img > i {
  position: absolute;
  top: 15px;
  z-index: 10;
  right: 15px;
  cursor: pointer;
  background-color: #f8475d;
  border: 3px solid #f0f3ee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}
.articles article .article__img > i:hover:before {
  -webkit-animation: bounceup 0.25s alternate ease infinite;
  animation: bounceup 0.25s alternate ease infinite;
}
.articles article .article__category {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.375rem;
  color: #f8475d;
}
.articles article h2 {
  font-weight: 800;
  margin-bottom: 0.625rem;
  line-height: 1.3;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #1d2456;
}
.articles article h2:hover {
  color: #f8475d;
}
.articles article p {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #4a5078;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.articles article .article__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e9ee;
  padding-top: 1.25rem;
  font-size: 0.875rem;
  margin-top: auto;
}
.articles article .article__footer .article__author {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.articles article .article__footer .article__author > i {
  color: #8e92ab;
}
.articles article .article__footer .article__author > i:nth-of-type(2) {
  color: #f8475d;
}
.articles article .article__footer .article__author span {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  color: #1d2456;
  display: flex;
}
.articles article .article__footer .article__author span:hover {
  color: #f8475d;
}
.articles article .article__footer .article__author span::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #f8475d;
  bottom: -5px;
  transition: all 0.3s;
  left: 0;
}
.articles article .article__footer .article__author span:hover:after {
  width: 100%;
}
.articles article .article__footer .article__date {
  color: #8e92ab;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

form {
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
form .form__inner {
  border-radius: 4px;
  background-color: #f8f9f7;
  padding: 2rem;
  width: min(450px, 95%);
  margin: 3vw auto;
  display: flex;
  flex-direction: column;
  -webkit-animation-name: slideIn;
  /* Slide in the form */
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}
form .form__inner .form__error__msg {
  font-size: 0.75rem;
  color: #f02849;
  margin-bottom: 1.5rem;
}
form .form__inner h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
form .form__inner .form__inner__input {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1.5rem;
}
form .form__inner .form__inner__input label {
  font-size: 0.875rem;
  font-weight: 500;
}
form .form__inner .form__inner__input input {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #e8e9ee;
  outline: none;
  transition: all 0.3s ease;
}
form .form__inner .form__inner__input input:focus {
  border: 1px solid #f8475d;
}
form .form__inner button {
  background-color: #f8475d;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #f0f3ee;
}

.add__article__btn {
  position: fixed;
  bottom: 40px;
  z-index: 110;
  right: 40px;
  cursor: pointer;
  background-color: #f8475d;
  border: 3px solid #f0f3ee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}
.add__article__btn i {
  font-size: 1.75rem;
  color: #f0f3ee;
}
.add__article__btn:hover i {
  -webkit-animation: wiggle 0.25s alternate ease infinite;
  animation: wiggle 0.25s alternate ease infinite;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
.modal .modal__content {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  background-color: #f0f3ee;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(520px, 95%);
  -webkit-animation-name: slideInFromBottom;
  -webkit-animation-duration: 0.4s;
  animation-name: slideInFromBottom;
  animation-duration: 0.4s;
}
.modal .modal__content h2 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #1d2456;
}
.modal .modal__content p {
  color: #4a5078;
  margin-bottom: 0.75rem;
}
.modal .modal__buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.modal .modal__buttons button {
  color: #f8475d;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.375rem 0.5rem;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal__buttons button:hover {
  background-color: rgba(248, 71, 93, 0.1019607843);
}

/* Animations */
@-webkit-keyframes slideIn {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
}
@-webkit-keyframes slideInFromBottom {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(10deg);
  }
}
@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes bounceup {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-2px);
  }
}
@keyframes bounceup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2px);
  }
}

/*# sourceMappingURL=styles.css.map */
